.actions {
  /* border: 2px solid red; */
  padding-top: 15px;
  margin-left: 350px;
  margin-right: 350px;
}

.action {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  width: fit-content;
  font-size: 20px;
}
.fa-magnifying-glass{
    border-radius: 2px solid red;
}

.search {
  display: flex;
  border: 2px solid black;
  width: fit-content;
}

.filter_options {
  display: flex;
  justify-content: space-between;
}

.option1{
    padding-top: 20px;
    cursor: pointer;
    
}

.option2{
    padding-top: 20px;
    cursor: pointer;
}

.all:hover{
    background-color: black;
    color: white;
}
.register:hover{
    background-color: black;
    color: white;
}
.seats:hover{
    background-color: black;
    color: white;
}
.bookmark:hover{
    background-color: black;
    color: white;
}
